<launch>
    <rosparam command="load" file="$(find eternity_fc)/params/hover.yaml" />
    <include file="$(find dji_sdk)/launch/sdk_usb.launch" />
    <node pkg="eternity_fc" type="state_machine_node" name="state_machine" output="screen">
    </node>
    <node pkg="eternity_fc" type="attitude_controller_node" name="attitude_controller" output="screen">
    </node>
    <node pkg="eternity_fc" type="servo_mixer_node" name="servo_mixer" output="screen">
    </node>
</launch>
